@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');
body{
    background-image: url(/balloons.png);
    font-family: 'Patrick Hand';
}
div{
    text-align: center;
}
input{
    display: block;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-family: 'Patrick Hand';
    font-size: large;
    border-radius: 10px;
    border-color: aquamarine;
}
label{
    font-size: 45px;
}
footer{
    text-align: center;
}
button{
    margin: 20px;
    border-color: aquamarine;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 30px;
    border-radius: 10px;
}
h1{
    margin: 100px 100px 30px 100px;
    /* margin: 100px; */
    font-size: 75px;
}
p{
    text-align: center;
    font-size: 30px;
}
h3{
    margin: 0;
}
footer #footer-para{
    margin: 0;
} 